

<div class="container">


  <div class="row">
    <br>
  </div>



  <div class="row">
    <h4> Step1 - Create Platform Actors </h4>
  </div>
    <div class="row">
    <div class="participant col-md-4">
      <p> <strong>Residents</strong> </p>
      <a [routerLink]="['/Resident']" class=participantButton>Residents</a>
    </div>

    <div class="participant col-md-4">
      <p> <strong>Banks</strong> </p>
      <a [routerLink]="['/Bank']" class="participantButton">Banks</a>
    </div>

    <div class="participant col-md-4">
      <p> <strong>Producers</strong></p>
      <a [routerLink]="['/UtilityCompany']" class="participantButton">Producers</a>
    </div>

  </div>

  <div class="row">
    <br>
  </div>


  <div class="row">
    <h4> Step2 - Execute Transactions </h4>
  </div>

  <div class="row">

    <div class="participant col-md-4">
      <p> </p>
      <a [routerLink]="['/TransactionRR']" class=participantButton>Resident to Resident</a>
    </div>

    <div class="participant col-md-4">
      <p></p>
      <a [routerLink]="['/TransactionRB']" class="participantButton">Resident to Bank</a>
    </div>

    <div class="participant col-md-4">
      <p>  </p>
      <a [routerLink]="['/TransactionRU']" class="participantButton">Resident to Utility</a>
    </div>

  </div>

  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>

</div>
