h1 {
    font-size: 28px;
    text-align: center;
}


h3 {
    text-align: center;
}



.bodytext {
    text-align: justify;
    text-align-last: center;
    background-color: #6600FF;
    color: whitesmoke;
    font-size: 16px;

    background-size: cover;
/*    border-style: inset;
    border-width: 2px;  */
}

.participant {
    border-style: inset;
    background-color: ;
    display: inline-block;
    /* width: 300px; */
    height: 200px;
    border-radius: 25px;
    border: 1px solid #6600FF;
    padding: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.participant:hover {
  top: -5px;
}
.participantButton {
    /* background-color: #008CBA; */
    background-color: #6600FF;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.participantButton:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
